@import "../heading/index.css";

.block {
    &__wrapper {
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100%;
        padding-top: var(--header-height);
        z-index: 1;
        transition: top 1000ms ease;
        cursor: pointer;
        background: #000;

        &_visible {
            top: 0;
        }

        &_hidden {
            top: 100vh;

            .block__bottom {
                bottom: -200vh;
                visibility: hidden;
                transition: unset;
                transition: visibility 1s;
            }
        }
    }

    &__background,
    &__background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__bottom {
        position: fixed;
        left: 0;
        bottom: 30px;
        padding: 0 20px;
        width: 100%;
        z-index: 1;
        visibility: unset;
        transition: visibility 0.3s 0.3s ease;

        &_showing {
            -webkit-animation: 0.6s linear 0s normal show;
            -moz-animation: 0.6s linear 0s normal show;
            -o-animation: 0.6s linear 0s normal show;
            animation: 0.6s linear 0s normal show;

            @media screen and (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }

        &_hiding {
            -webkit-animation: 0.7s linear 0s normal hide;
            -moz-animation: 0.7s linear 0s normal hide;
            -o-animation: 0.7s linear 0s normal hide;
            animation: 0.7s linear 0s normal hide;

            @media screen and (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }
    }

    &__text {
        grid-column: 1 / span 9;
        text-align: left;
        color: #fff;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                opacity: 0.5;
            }
        }

        .selection-pattern {
            color: var(--color-accent-dark);
        }

        @mixin h2;
    }
}

@mixin media_breakpoint_small_desktop {

    .block {

        &__text {

            @mixin h3;
        }
    }
}

@mixin media_breakpoint_tablet {

    .block {

        &__text {

            @mixin h4;
        }
    }
}

@mixin media_breakpoint_mobile {

    .block {

        &__text {

            @mixin h5;
        }
    }
}

@mixin media_breakpoint_below_desktop {

    .block {

        &__text {
            grid-column: 1 / span all;
        }
    }
}

@-webkit-keyframes show { from { bottom: -100vh; } to { bottom: 0; }  }
@-moz-keyframes show { from { bottom: -100vh; } to { bottom: 0; }  }
@-o-keyframes show { from { bottom: -100vh; } to { bottom: 0; }  }
@keyframes show { from { bottom: -100vh; } to { bottom: 0; }  }

@-webkit-keyframes hide { from { bottom: 0; } to { bottom: -100vh; }  }
@-moz-keyframes hide { from { bottom: 0; } to { bottom: -100vh; }  }
@-o-keyframes hide { from { bottom: 0; } to { bottom: -100vh; }  }
@keyframes hide { from { bottom: 0; } to { bottom: -100vh; }  }
