.block {

    &__wrapper {
        position: relative;
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__link {
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 20px;
        padding: 17px 30px 21px;
        border: 1px solid #000;
        border-radius: 23px;
        font-size: 47px;
        line-height: 56px;
    }

    &__bottom {
        position: absolute;
        left: 0;
        bottom: 40px;
        padding: 0 20px;
        width: 100%;
        z-index: 1;
        display: flex;
    }

    &__text {
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
        max-width: 1034px;
    }
}
