@mixin media_breakpoint_normal_desktop {

    .video-section {

        &__title {
            grid-column: 1 / span 8;
        }

        &__player {
            margin-top: -44px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .video-section {

        &__title {
            grid-column: 1 / span 8;
        }

        &__player {
            margin-top: -20px;
        }
    }
}

@mixin media_breakpoint_tablet {

    .video-section {

        &__title {
            grid-column: 1 / span 6;
        }

        &__player {
            margin-top: -10px;
        }
    }
}

@mixin media_breakpoint_mobile {

    .video-section {

        &__title {
            grid-column: 1 / span 2;
        }
    }
}
