@import "./../../fonts/index.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family-primary);
    overflow-x: hidden !important;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: inherit;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {

    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

.app__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

:root {
    --zindex-base: 100;
    --zindex-dropdown: 101;
    --zindex-sticky: 102;
    --zindex-fixed: 103;
    --zindex-modal-backdrop: 104;
    --zindex-offcanvas: 105;
    --zindex-modal: 106;
    --zindex-popover: 107;
    --zindex-tooltip: 108;

    --color-accent: #66d4d0;
    --color-error: #ff364d;
    --color-gray: #f3f8f9;
}
