.select {
    position: relative;

    &__error-label {
        position: absolute;
        bottom: -15px;
        left: 10px;
        font-size: 11px;
        line-height: 10px;
        color: var(--color-error);
    }
}
