
.path-description {
    background-color: var(--color-gray);

    &__title:not(:first-of-type) {
        margin-top: 12px;
    }

    &__title {
        position: relative;
    }

    &__title::before {
        position: absolute;
        right: calc(100% + 12px);
        content: "—";
    }
}

@mixin media_breakpoint_normal_desktop {
    .path-description {

        &__titles {
            grid-column: 1 / span 5;
            grid-row: 1 / span 4;
            margin-left: 64px !important;
        }

        &__title:not(:first-of-type) {
            margin-top: 18px;
        }

        p:first-of-type {
            grid-column: 7 / span 6;
        }

        p:not(:first-of-type) {
            margin-top: 24px;
            grid-column: 7 / span 3;
        }
    }
}

@mixin media_breakpoint_small_desktop {
    .path-description {

        &__titles {
            grid-column: 1 / span 5;
            grid-row: 1 / span 4;
            margin-left: 52px !important;
        }

        p:first-of-type {
            grid-column: 7 / span 6;
        }

        p:not(:first-of-type) {
            margin-top: 20px;
            grid-column: 7 / span 3;
        }
    }
}

@mixin media_breakpoint_tablet {
    .path-description {
        margin-top: -20px;

        &__titles,
        p:first-of-type {
            grid-column: 1 / span 6;
        }

        &__titles {
            margin-left: 52px !important;
        }

        p:first-of-type {
            margin-top: 40px;
        }

        p:not(:first-of-type) {
            margin-top: 20px;
            grid-column: 1 / span 3;
        }
    }
}

@mixin media_breakpoint_mobile {
    .path-description {
        &__titles,
        p {
            grid-column: 1 / span 2;
        }

        &__titles {
            margin-left: 38px !important;
        }

        p {
            margin-top: 20px;
        }
    }
}
