.vacancies {
    &__wrap {
        width: 100%;
    }

    &__list {
        width: 100%;
    }

    &__empty-text {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.04em;
        color: #758794;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E0E6EB;
        padding: 20px 0;

        .tag {
            margin-bottom: 0px !important;
        }
    }

    &__list-item-block {
        display: flex;
        justify-content: space-between;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__info-wrapper {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #34B7AA;
        display: flex;
    }

    &__info-data {
        margin-right: 16px;
    }

    &__info-city {
        color: #758794;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
    }

    &__title {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.04em;
        color: #05080A;

        @media (max-width: 330px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__area {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #05080A;
    }
}
