.text-block {

    &__respond-vacancy-title {
        margin-top: 20px;
        font-size: 45px;
        line-height: 48px;
        font-family: var(--font-family-secondary);
    }
}

@mixin media_breakpoint_nav_collapsed {
    .text-block {
        align-self: flex-start;

        &__respond-vacancy-title {
            margin-top: 0;
            font-size: 27px;
            line-height: 30px;
        }
    }
}
