.form-wrapper {

}

.pmef-respond-form {
    position: fixed;
    width: 1520px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 90px;
    z-index: 1000;

    @media (max-width: 1560px) {
        width: calc(100vw - 40px);
    }

    @media (max-width: 1280px) {
        top: 20px;
    }

    @media (max-width: 744px) {
        width: 100vw;
        height: 100vh;
        top: 0;
    }

    &__form {
        background-color: #e0e6eb;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 24px;

        @media (max-width: 1280px) {
            flex-direction: column;
        }

        @media (max-width: 744px) {
            flex-direction: column;
            border-radius: 0;
        }

        @media (max-width: 744px) {
            height: 100vh;
        }
    }

    &__error-popup {
        display: none;
        background-color: #1f272e;
        border-radius: 24px;
        padding: 20px;
        margin-bottom: 20px;

        &_visible {
            display: flex;
            justify-content: space-between;

            @media (max-width: 744px) {
                position: absolute;
                width: 100vw;
                z-index: 1000;
                padding: 10px;
                border-radius: 0 0 24px 24px;
            }
        }
    }

    &__complete-popup {
        background-color: #bdfff8;
        border-radius: 24px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 744px) {
            position: absolute;
            width: 100vw;
            z-index: 1000;
            padding: 10px;
            border-radius: 0 0 24px 24px;
        }
    }

    &__complete-popup-title {
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;
        margin-top: 63px;
        max-width: 600px;
        color: #1F272E;

        @media (max-width: 744px) {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.04em;
        }
    }

    &__complete-popup-close-btn {
        align-self: start;
        cursor: pointer;
        align-self: start;

        & svg path:last-child {
            fill: #1F272E;
        }
    }

    &__popup-close-btn {
        align-self: start;
        cursor: pointer;

        & svg path:last-child {
            fill: #ffffff;
        }
    }

    &__error-title {
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;
        margin-top: 63px;
        max-width: 600px;
        color: #ffffff;

        & span {
            display: inline-block;
            color: red;
        }

        @media (max-width: 744px) {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.04em;
        }
    }

    &__submit-button {
        min-height: 56px;
    }

    &__close-btn {
        width: fit-content;
        align-self: end;
        cursor: pointer;

        & svg path:last-child {
            fill: #1f272e;
        }

        @media (max-width: 1280px) {
            position: absolute;
            top: 20px;
            right: 20px;

            & svg path:last-child {
                fill: #1f272e;
            }
        }
    }

    &__big-title {
        max-width: 580px;
        font-size: 57px;
        line-height: 91%;
        letter-spacing: -0.02em;
        margin-left: -4px;

        @media (max-width: 1280px) {
            font-size: 47px;
        }

        @media (max-width: 744px) {
            margin-left: 0;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.02em;
        }
    }

    &__small-title {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        font-family: var(--font-family-secondary);
        margin-top: 32px;

        @media (max-width: 1280px) {
            margin-top: 20px;
        }

        @media (max-width: 744px) {
            font-size: 18px;
            line-height: 24px;
            margin-top: 10px;
        }
    }

    &__right-block {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1280px) {
            margin-top: 32px;
        }
    }
}
