
.hero {

    &__header {
        padding: 0 20px;
        display: flex;
        align-items: center;
        width: 100vw;
    }

    &__location-details-title + p {
        margin-top: 8px;
    }

    &__location-details-title:first-of-type + p {
        display: flex;
        align-items: center;
    }

    /* &__button {
        margin-top: 20px;
        grid-column: 1;
    } */

    &__map {
        width: 100%;
        height: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@mixin media_breakpoint_normal_desktop {

    .hero {
        position: relative;
        background-image: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);

        &__header {
            margin-bottom: calc(var(--header-height) * -1);
            height: var(--header-height);

            &-logo {
                width: 286px;
                height: 32px;
            }
        }

        &__title {
            --width-of-title-on-1920-resolution: 810px;
            grid-column: 1 / span 5;
            max-width: var(--width-of-title-on-1920-resolution);
        }

        &__location-details-title + p {
            margin-top: 12px;
        }

        &__location-details-title:first-of-type,
        &__location-details-title:first-of-type + p,
        &__location-details-title:nth-of-type(2),
        &__location-details-title:nth-of-type(2) + p {
            grid-column: 1 / span 4;
        }

        &__location-details-title:last-of-type,
        &__location-details-title:last-of-type + p {
            grid-column: 7 / span 3;
        }

        &__location-details-title:first-of-type {
            grid-row: 1;
        }

        &__location-details-title:first-of-type + p {
            grid-row: 2;
        }

        &__location-details-title:nth-of-type(2),
        &__location-details-title:last-of-type {
            margin-top: 60px;
            grid-row: 3;
        }

        &__location-details-title:nth-of-type(2) + p,
        &__location-details-title:last-of-type + p {
            grid-row: 4;
        }

        &__map {
            position: absolute;
            top: 0;
            z-index: -1;
            height: 100%;
            background-image: url("/hero/map/map_1920@2x.png");
            background-image: -webkit-image-set(
                url("/hero/map/map_1920@1x.png") 1x,
                url("/hero/map/map_1920@2x.png") 2x,
                url("/hero/map/map_1920@3x.png") 3x
            );
            background-image: image-set(
                url("/hero/map/map_1920@1x.png") 1x,
                url("/hero/map/map_1920@2x.png") 2x,
                url("/hero/map/map_1920@3x.png") 3x
            );
            background-size: cover;
            background-position-x: 61%;
        }

        &__title {
            margin-top: 22px;
        }

        &__location {
            margin-top: 104px;
            padding-bottom: 30px;
            background-image: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        }

        &__location-icon_arrow-down {
            margin-bottom: 8px;
            grid-column: 12;
            grid-row: 1 / span 4;
            align-self: end;
            width: 84px;
            height: 84px;
            transform: translate(54px, 18px);
        }

        &__location-details-icon_arrow-right {
            margin-left: 2px;
            width: 52px;
            height: 52px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .hero {
        position: relative;
        background-image: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);

        &__header {
            margin-bottom: -72px;
            height: 72px;

            &-logo {
                width: 214px;
                height: 24px;
            }
        }

        &__title {
            grid-column: 1 / span 5;
            max-width: 505px;
        }

        &__location-details-title + p {
            margin-top: 8px;
        }

        &__location-details-title:first-of-type,
        &__location-details-title:first-of-type + p,
        &__location-details-title:nth-of-type(2),
        &__location-details-title:nth-of-type(2) + p {
            grid-column: 1 / span 4;
        }

        &__location-details-title:last-of-type,
        &__location-details-title:last-of-type + p {
            grid-column: 7 / span 3;
        }


        &__location-details-title:nth-of-type(2),
        &__location-details-title:last-of-type {
            margin-top: 40px;
            grid-row: 3;
        }

        &__location-details-title:nth-of-type(2) + p,
        &__location-details-title:last-of-type + p {
            grid-row: 4;
        }

        &__map {
            position: absolute;
            top: 0;
            z-index: -1;
            height: 100%;
            background-image: url("/hero/map/map_1280@2x.png");
            background-image: -webkit-image-set(
                url("/hero/map/map_1280@1x.png") 1x,
                url("/hero/map/map_1280@2x.png") 2x,
                url("/hero/map/map_1280@3x.png") 3x
            );
            background-image: image-set(
                url("/hero/map/map_1280@1x.png") 1x,
                url("/hero/map/map_1280@2x.png") 2x,
                url("/hero/map/map_1280@3x.png") 3x
            );
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 47%;
        }

        &__title {
            margin-top: 32px;
        }

        &__location {
            margin-top: 144px;
            padding-bottom: 24px;
            background-image: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        }

        &__location-icon_arrow-down {
            margin-bottom: 5px;
            grid-column: 12;
            grid-row: 1 / span 4;
            align-self: end;
            width: 64px;
            height: 64px;
            transform: translate(20px, 10px);
        }

        &__location-details-icon_arrow-right {
            margin-left: 6px;
            width: 44px;
            height: 44px;
        }
    }
}

@mixin media_breakpoint_tablet {

    .hero {
        &__header {
            margin-bottom: -72px;
            height: 72px;

            &-logo {
                width: 214px;
                height: 24px;
            }
        }

        &__title,
        &__map {
            grid-column: 1 / span 6;
        }

        &__location-details-title:first-of-type,
        &__location-details-title:first-of-type + p {
            grid-column: 1 / span 4;
        }

        &__location-details-title:nth-of-type(2),
        &__location-details-title:nth-of-type(2) + p {
            grid-column: 1 / span 3;
        }

        &__location-details-title:last-of-type,
        &__location-details-title:last-of-type + p {
            grid-column: 4 / span 3;
        }

        &__location-details-title:first-of-type {
            grid-row: 1;
        }

        &__location-details-title:first-of-type + p {
            grid-row: 2;
        }

        &__location-details-title:nth-of-type(2),
        &__location-details-title:last-of-type, {
            grid-row: 3;
        }

        &__location-details-title:nth-of-type(2) + p,
        &__location-details-title:last-of-type + p {
            grid-row: 4;
        }

        &__title {
            margin-top: 56px;
        }

        &__location-details-title:not(:first-of-type) {
            margin-top: 40px;
        }

        &__map {
            padding-top: 69.89%;
            background-image: url("/hero/map/map_744@2x.png");
            background-image: -webkit-image-set(
                url("/hero/map/map_744@1x.png") 1x,
                url("/hero/map/map_744@2x.png") 2x,
                url("/hero/map/map_744@3x.png") 3x
            );
            background-image: image-set(
                url("/hero/map/map_744@1x.png") 1x,
                url("/hero/map/map_744@2x.png") 2x,
                url("/hero/map/map_744@3x.png") 3x
            );
        }

        &__location {
            background-color: var(--color-gray);
        }

        &__location-icon_arrow-down {
            display: none;
        }

        &__location-details-icon_arrow-right {
            margin-left: 10px;
            width: 48px;
            height: 48px;
        }
    }
}

@mixin media_breakpoint_mobile {

    .hero {

        &__header {
            margin-bottom: -78px;
            height: 70px;

            &-logo {
                width: 214px;
                height: 24px;
            }
        }

        &__title,
        &__map,
        &__location-details-title,
        &__location-details-title + p {
            grid-column: 1 / span 2;
        }

        &__title {
            margin-top: 48px;
        }

        &__map {
            padding-top: 138.67%;
            background-image: url("/hero/map/map_375@2x.png");
            background-image: -webkit-image-set(
                url("/hero/map/map_375@1x.png") 1x,
                url("/hero/map/map_375@2x.png") 2x,
                url("/hero/map/map_375@3x.png") 3x
            );
            background-image: image-set(
                url("/hero/map/map_375@1x.png") 1x,
                url("/hero/map/map_375@2x.png") 2x,
                url("/hero/map/map_375@3x.png") 3x
            );
        }

        &__location {
            background-color: var(--color-gray);
        }

        &__location-icon_arrow-down {
            display: none;
        }

        &__location-details-title:not(:first-of-type) {
            margin-top: 30px;
        }

        &__location-details-title:last-of-type {
            width: 80px;
        }
    }

    /* .hero .hero__button {
        --paddings-width: 40px;
        position: fixed;
        z-index: var(--zindex-base);
        bottom: 40px;
        margin: 0;
        width: calc(100vw - var(--paddings-width));
    } */
}
