.accordion {

    padding-bottom: 30px;

    &_with_border-top {
        border-top: 1px solid var(--color-black);
    }

    &_color_white {
        color: var(--color-white);
    }

    &__description {
        padding-top: 20px;
    }

    &_color_white&_with_border-top {
        border-color: var(--color-white);
    }

    &_color_white &__heading,
    &_color_white &__description {
        color: inherit;
    }

    &_color_white &__icon path {
        fill: var(--color-white);
    }

    &__header {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin-left: 16px;
        padding: 0;
        align-self: flex-start;
        border: none;
        font-size: 0;
        background-color: transparent;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }
}

@mixin media_breakpoint_normal_desktop {

    .accordion {
        padding-bottom: 38px;

        &__icon {
            width: 40px;
            height: 40px;
        }

        &_small &__icon,
        &_large &__icon {
            width: 32px;
            height: 32px;
        }

        &_closed&_small {
            padding-bottom: 40px;
        }

        &__header {
            padding-bottom: 20px;
        }

        &_closed&_small &__header {
            padding-bottom: 0px;
        }

        &__description {
            padding-top: 0;
        }

        &__description_with-columns {
            column-count: 2;
            column-gap: 20px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .accordion {

        &_small &__icon,
        &_large &__icon {
            width: 24px;
            height: 24px;
        }

        &_medium &__description,
        &_small &__header,
        &_small &__description {
            padding-top: 12px;
        }
    }
}

@mixin media_breakpoint_below_desktop {

    .accordion {

        &_small &__icon,
        &_large &__icon {
            width: 24px;
            height: 24px;
        }

        &_medium &__description,
        &_small &__header,
        &_small &__description {
            padding-top: 12px;
        }
    }
}
