.accordion {
    --header-padding-bottom-below-normal-desktop: 30px;
    --header-padding-bottom-on-normal-desktop: 40px;
    --description-padding-top-default: 20px;
    --description-padding-top-small: 12px;

    padding-bottom: var(--header-padding-bottom-below-normal-desktop);

    &_with_border-top {
        border-top: 1px solid var(--color-black);
    }

    &_color_white {
        color: var(--color-white);
    }

    &__description {
        padding-top: var(--description-padding-top-default);
    }

    &_color_white&_with_border-top {
        border-color: var(--color-white);
    }

    &_color_white &__heading,
    &_color_white &__header,
    &_color_white &__description {
        color: inherit;
    }

    &_color_white &__icon path {
        fill: var(--color-white);
    }

    &__header {
        position: relative;
        z-index: 1;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: none;
        font-size: 0;
        text-align: start;
        background-color: transparent;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% + var(--description-padding-top-default));
            width: 100%;
        }
    }

    &_closed&_medium &__header::before,
    &_closed&_small &__header::before {
        height: calc(100% + var(--header-padding-bottom-below-normal-desktop));
    }

    &__icon-wrapper {
        margin-left: 16px;
        padding: 0;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }
}

@mixin media_breakpoint_normal_desktop {

    .accordion {
        padding-bottom: var(--header-padding-bottom-on-normal-desktop);

        &__header::before {
            height: calc(100% + var(--description-padding-top-default));
        }

        &__icon {
            width: 40px;
            height: 40px;
        }

        &_small &__icon,
        &_large &__icon {
            width: 32px;
            height: 32px;
        }

        &_closed&_small,
        &_closed&_medium {
            padding-bottom: var(--header-padding-bottom-on-normal-desktop);
        }

        &_closed&_medium &__header::before,
        &_closed&_small &__header::before {
            height: calc(100% + var(--header-padding-bottom-on-normal-desktop));
        }

        &_closed&_small &__header,
        &_closed&_medium &__header {
            padding-bottom: 0px;
        }

        &__description_with-columns {
            column-count: 2;
            column-gap: 20px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .accordion {

        &_small &__icon,
        &_large &__icon {
            width: 24px;
            height: 24px;
        }

        &_medium &__description,
        &_small &__description,
        &_small &__header {
            padding-top: var(--description-padding-top-small);
        }

        &_medium &__header::before,
        &_small &__header::before {
            height: calc(100% + var(--description-padding-top-small));
        }
    }
}

@mixin media_breakpoint_below_desktop {

    .accordion {

        &_small &__icon,
        &_large &__icon {
            width: 24px;
            height: 24px;
        }

        &_medium &__description,
        &_small &__header,
        &_small &__description {
            padding-top: var(--description-padding-top-small);
        }

        &_medium &__header::before,
        &_small &__header::before {
            height: calc(100% + var(--description-padding-top-small));
        }
    }
}
