.link-button {
    --color-accent-idle: #66d4d0;
    --color-accent-hover: #5ec4c1;
    --color-accent-active: #e0e6eb;
    --color-accent-pressed: #6de3df;

    padding: 16px 20px;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    color: var(--color-white);
    background-color: var(--color-accent-idle);
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

    &:hover {
        background-color: var(--color-accent-hover);
    }

    &:active {
        background-color: var(--color-accent-pressed);
    }

    &_active {
        color: var(--color-black);
        background-color: var(--color-accent-active);

        &:hover {
            color: var(--color-black);
            background-color: var(--color-accent-active);
        }

        &:active {
            background-color: var(--color-accent-active);
        }
    }
}
