@import "../text/index.css";

@import "../button-like/index.css";

.input-file {
    width: 100%;
    position: relative;

    & input {
        position: absolute;
        width: 100%;
        opacity: 0;
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #05080a;
    }

    &__ext {
        color: #05080a;
    }

    &__cross {
        position: absolute;
        top: 50%;
        right: 20px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        transform: translateY(-15px);
        background-color: transparent;
        cursor: pointer;
    }
}

@mixin button_like_base_styles input-file__label {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
}

@mixin button_like_size_l_styles input-file__label;

.input-file__label {

    span {
        text-align: center;
    }

    &_error {
        box-shadow: 0 0 0 2px #ff364d;
    }

    &_has-file {
        padding-right: 62px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .input-file__label:hover {
        color: #1f272e;
    }
}
