.directions {

    &__wrapper {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 115px;
        margin-right: 15px;
        max-height: 90vh;
        min-width: 280px;
        width: 25%;
        max-width: 380px;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__back {
        margin-right: 90px;
        margin-top: 5px;

        @media screen and (max-width: 1250px) {
            margin-right: 45px;
        }
    }

    &__back-icon {
        cursor: pointer;

        &:hover {

            & path {
                fill: #34B7AA;
            }
        }
    }

    &__header {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.04em;
        color: #05080a;
        margin-bottom: 110px;
    }

    &__list {
        margin-bottom: 220px !important;
    }

    &__list-item {
        max-width: 170px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #758794;
        margin-bottom: 10px;
        cursor: pointer;
        user-select: none;
        user-select: none;
        user-select: none;

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                color: #43515c;
            }
        }

        &_active {
            color: #34b7aa !important;
        }
    }

    &__count {
        font-family: var(--font-family-digits);
        font-size: 180px;
        line-height: 50px;
        letter-spacing: -0.01em;
    }
}
