.accordeon {

    &__wrapper {
        width: 100%;
        border-top: 1px solid #aeaeae;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
            border-top: none;
        }
    }

    &__toggle {
        display: flex;
        align-items: flex-start;
        fill: #bdfff8;
        stroke: #000000;

        circle {
            stroke: none;
        }

        rect {
            fill: #000000;
        }

        &_hide {
            fill: #fff;

            circle {
                stroke: #000000;
            }
        }
    }

    &__link {
        text-align: center;
        padding: 16px 32px;
        border-radius: 50px;
        font-size: 30px;
        line-height: 48px;
        letter-spacing: -0.01em;

        &_border {
            color: #ffffff;
        }

        &_fill {
            background: #bdfff8;

            @media (hover: hover) and (pointer: fine) {

                &:hover {
                    background: #67cfc9;
                    color: #fff;
                }
            }
        }
    }

    &__header-wrapper {
        display: flex;
        margin: 23px 0;
        padding: 0;
        width: 100%;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-left: 55px;
        font-family: var(--font-family-secondary);
        font-size: 70px;
        line-height: 95%;
        letter-spacing: -0.02em;

        @media (max-width: 1440px) {
            margin-left: 40px;
            font-size: 55px;
            line-height: 60px;
            letter-spacing: -0.01em;
        }

        @media (max-width: 1024px) {
            margin-left: 40px;
            font-size: 47px;
            line-height: 48px;
            letter-spacing: -0.01em;
        }

        @media (max-width: 600px) {
            margin-left: 15px;
            font-size: 27px;
            line-height: 30px;
            letter-spacing: -0.01em;
        }
    }

    &__body {
        margin-left: 115px;
        margin-bottom: 40px;

        @media (max-width: 1024px) {
            margin-left: unset;
        }
    }

    &__description {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 115%;
        font-family: var(--font-family-secondary);

        @media (max-width: 1024px) {
            margin-left: unset;
        }

        @media (max-width: 376px) {
            margin-bottom: 20px;
        }
    }

    &__sub-description-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 950px;

        @media (max-width: 1380px) {
            flex-wrap: wrap;
        }

        @media (max-width: 376px) {
            flex-direction: column;
        }
    }

    &__sub-description {
        max-width: 335px;
        min-width: 335px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.01em;
        margin-bottom: 20px;
        font-family: var(--font-family-secondary);

        @media (max-width: 1190px) {
            max-width: 300px;
            min-width: 200px;
        }

        @media (max-width: 1115px) {
            max-width: 250px;
            min-width: 200px;
        }

        @media (max-width: 1024px) {
            max-width: calc(50% - 10px);
            min-width: calc(50% - 10px);

            &:last-child {
                margin-left: 20px;
            }
        }

        @media (max-width: 685px) {
            max-width: 100%;
            min-width: 100%;

            &:last-child {
                margin-left: unset;
            }
        }
    }

    &__link-wrapper {
        margin-top: 15px;
        margin-right: 10px;

        @media (max-width: 1380px) {
            order: 3;
        }
    }

    &__link {

        @media (max-width: 1024px) {
            padding: 16px 80px;
        }

        @media (max-width: 376px) {
            padding: 16px 105px;
        }

        @media (max-width: 365px) {
            padding: 16px 80px;
        }
    }
}
