@import "../heading/index.css";
@import "../text/index.css";

.nav {
    position: fixed;
    display: flex;
    gap: 20px;
    width: 100vw;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--color-black);
    background: var(--color-white);
    z-index: 100;
    transform: translateY(0);
    transition: transform 0.5s ease;

    &_shadow {
        -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
    }

    &_hidden:not(.nav_open-menu) {
        transform: translateY(-110%);
    }

    &__logo {
        height: inherit;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    &__center {
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        background-color: inherit;
        height: 100%;
    }

    &__buttons {
        display: flex;
        height: 100%;
        min-width: min-content;
        align-items: center;
    }

    &__list {
        position: relative;
        display: flex;
        min-width: 614px;
        height: 100%;
        gap: 20px;
        margin: 0 auto !important;
    }

    &__list-item {
        display: flex;
        align-items: center;
        letter-spacing: 0;
        text-align: left;
        white-space: nowrap;
        height: 100%;

        @mixin t3;
    }

    &__list-item-link,
    &__list-item-text {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }

    &__collapsed-menu-buttons {
        display: none;
    }

    &__submenu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: var(--color-white);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s 0s, visibility 0s 0.5s;

        &_opened {
            transition: opacity 0.5s 0s, visibility 0s 0s;
            visibility: visible;
            opacity: 1;
        }
    }

    &__submenu-overlay {
        position: fixed;
        left: 0;
        width: 100vw;
        height: 0;
        background: var(--color-white);
    }

    &__submenu-content {
        position: relative;
        min-height: 235px;
    }

    &__submenu-list {
        border-top: 1px solid var(--color-black);
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }

    &__submenu-list-item {
        margin-top: 20px;

        &_active {
            color: var(--color-accent);
        }

        @mixin h4;
    }

    &__submenu-list-item-link {
        display: block;
        white-space: break-spaces;
        word-break: break-word;
    }

    &__submenu-list-item-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 235px;
        opacity: 0;
        visibility: hidden;
        transform: translate(110%, -10%);
        transition: transform 0.5s, opacity 0.5s;
    }

    &__switch-lang-link {
        margin-right: 54px;

        @mixin t3;
    }
}

@media (hover: hover) and (pointer: fine) {

    .nav {

        &__list-item:hover &__list-item-link,
        &__list-item:hover &__list-item-text {

            &::before {
                content: " ";
                top: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background: var(--color-accent);
                position: absolute;
                border-radius: 10px;
            }
        }

        &__submenu-list-item {

            &:hover {
                color: var(--color-accent);
            }
        }

        &__submenu-list-item:hover &__submenu-list-item-icon {
            visibility: visible;
            opacity: 1;
            transform: translate(100%, -1px); /* -1px компенсирует border-top контейнера */
        }

        &__switch-lang-link {

            &:hover {
                color: var(--color-accent);
            }
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .nav {

        &__list {
            min-width: 400px;
        }

        &__list-item {

            @mixin t4;
        }

        &__submenu-content {
            min-height: 177px;
        }

        &__submenu-list-item {

            @mixin h5;
        }

        &__submenu-list-item-icon {
            height: 177px;
        }

        &__switch-lang-link {
            @mixin t4;
        }
    }
}

@mixin media_breakpoint_below_desktop {

    .nav {

        &__center {
            position: fixed;
            left: 0;
            top: var(--header-height);
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
            width: 100%;
            height: auto;
            max-height: calc(100vh - var(--header-height));
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            overflow: auto;

            &_close {
                display: none;
            }
        }

        &__list {
            display: block;
            height: auto;
            width: 100%;
            min-width: auto;
        }

        &__list-item {
            display: block;
            font-family: var(--font-family-primary);
            width: 100%;
            height: auto;
            margin-top: 20px;
            padding: 20px 0;
            border-top: 1px solid var(--color-black);

            &:after {
                display: none;
            }

            @mixin h5;
        }

        &__list-item-link {
            width: 100%;
        }

        &__list-item &__list-item-link,
        &__list-item &__list-item-text {

            &::before {
                display: none;
            }
        }

        &__submenu {
            position: static;
            visibility: visible;
            opacity: 1;
            transition: none;
        }

        &__submenu-overlay {
            display: none;
        }

        &__submenu-content {
            min-height: auto;
        }

        &__submenu-list {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            border-top: none;
        }

        &__submenu-list-item {
            margin-top: 16px;

            @mixin t3;
        }

        &__submenu-list-item-link {
            width: 100%;
        }

        &__submenu-list-item-icon {
            display: none;
        }

        &__collapsed-menu-buttons {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__buttons {
            margin-left: 0;
            margin-top: 20px;
            width: 100%;
            height: auto;
        }

        &__accept-button {
            width: 100%;
        }

        &__buttons &__switch-lang-link {
            display: none;
        }

        &__switch-lang-link {
            margin-right: 27px;

            @mixin t3;
        }

        &__burger {
            width: 20px;
            height: 20px;
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

@mixin media_breakpoint_mobile {

    .nav {

        &__center {
            height: calc(100vh - var(--header-height));
            padding-bottom: 104px;
        }

        &__buttons {
            padding-top: 20px;
            margin-top: auto;
        }
    }
}
