.check-box {

    &__label {
        display: inline-block;
        width: 529px;
        height: 36px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.9;
    }

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        min-width: 30px;
        height: 30px;
        margin: 0 15px 0 0;
        padding: 0;
        vertical-align: top;
        outline: none;
        border: 1px solid #000000;
        border-radius: 15px;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        background-repeat: no-repeat;

        &_error {
            border: 1px solid #FF364D;
        }

        &:checked {
            background-position: center;
            /* background-image: url("../../../images/checkbox-checked.svg"); */
        }
    }
}