@font-face {
    font-family: "SB Sans Text";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("woff2/sb_sans_text_regular.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("woff2/sb_sans_text_medium.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("woff2/sb_sans_text_semibold.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("woff2/sb_sans_text_mono-regular.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text Mono";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("woff2/sb_sans_text_mono_bold.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Display";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("woff2/sb_sans_display_thin.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Display";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("woff2/sb_sans_display_light.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("woff2/sb_sans_display_regular.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Display";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("woff2/sb_sans_display_semibold.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("woff2/sb_sans_display_bold.woff2") format("woff2");
}

@font-face {
    font-family: "SAT Numbers Test Font";
    font-style: normal;
    font-display: swap;
    src: url("woff2/SATNumbersTestFont-Regular.woff2") format("woff2");
}

:root {
    --font-family-primary: "SB Sans Text", sans-serif;
    --font-family-secondary: "SB Sans Display", sans-serif;
    --font-family-digits: "SAT Numbers Test Font";
    --nav-height: 82px;
}
