.main-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    background-color: var(--color-white);

    &__header {
        grid-row: 1;
    }

    &__button {
        grid-row: 2;
        margin-top: 20px;
    }

    &__disclaimer {
        grid-row: 3;
    }

    &__copyright,
    &__legal-info {
        grid-row: 4;
    }

    & &__legal-info {
        color: var(--color-gray-dark);
    }
}

@media (hover: hover) and (pointer: fine) {

    .main-footer .main-footer__legal-info a:hover {
        color: var(--color-black);
        cursor: pointer;
        transition: color 100ms ease-in-out;
    }
}

@mixin media_breakpoint_normal_desktop {

    .main-footer {

        &__header {
            grid-column: 1 / span 8;
        }

        &__button {
            grid-column: 1 / span 4;
        }

        &__disclaimer,
        &__legal-info {
            grid-column: 5 / span 8;
        }

        &__disclaimer {
            padding-top: 12px;
            border-top: 1px solid var(--color-black);
        }

        &__copyright,
        &__legal-info {
            margin-top: 40px;
        }

        &__copyright {
            grid-column: 1 / span 4;
        }

        &__accreditation,
        &__privacy-policy {
            margin-left: 40px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .main-footer {

        &__header {
            grid-column: 1 / span 8;
        }

        &__button {
            grid-column: 1 / span 4;
        }

        &__disclaimer,
        &__legal-info {
            grid-column: 5 / span 8;
        }

        &__disclaimer {
            padding-top: 12px;
            border-top: 1px solid var(--color-black);
        }

        &__copyright,
        &__legal-info {
            margin-top: 40px;
        }

        &__copyright {
            grid-column: 1 / span 4;
        }

        &__accreditation,
        &__privacy-policy {
            margin-left: 40px;
        }
    }
}

@mixin media_breakpoint_tablet {

    .main-footer {

        &__header {
            grid-column: 1 / span 6;
        }

        &__button {
            grid-column: 1 / span 2;
        }

        &__disclaimer,
        &__legal-info {
            grid-column: 4 / span 3;
        }

        &__disclaimer {
            padding-top: 12px;
            border-top: 1px solid var(--color-black);
        }

        &__copyright {
            grid-column: 1 / span 2;
            align-self: end;
        }

        &__legal-info {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }

        &__accreditation,
        &__privacy-policy {
            margin-top: 12px;
        }
    }
}

@mixin media_breakpoint_mobile {

    .main-footer {
        padding-left: 10px;
        padding-right: 10px;

        &__header,
        &__button,
        &__disclaimer,
        &__legal-info,
        &__copyright {
            grid-column: 1 / span 2;
        }

        &__disclaimer,
        &__legal-info,
        &__copyright {
            margin-top: 30px;
        }

        &__disclaimer {
            padding-top: 12px;
            border-top: 1px solid var(--color-black);
        }

        &__legal-info {
            display: flex;
            flex-direction: column;
        }

        &__accreditation,
        &__privacy-policy {
            margin-top: 12px;
        }

        &__copyright {
            grid-row: 5;
        }
    }
}
