.footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__top-block {
        padding: 20px 20px 0 20px;
        max-width: 1000px;

        @media (max-width: 1024px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__header {
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;
        padding-bottom: 50px;

        @media (max-width: 820px) {
            font-size: 27px;
            line-height: 30px;
            padding-bottom: 25px;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 115%;
        margin-bottom: 50px;
        font-family: var(--font-family-secondary);

        @media (max-width: 520px) {
            margin-bottom: 25px;
        }
    }

    &__link {
        text-align: center;
        border-radius: 50px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.01em;
        background: #BDFFF8;
        max-width: 260px;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: #67CFC9;
                color: #FFFF;
            }
        }
    }

    &__bottom-block {
        display: flex;
        margin: 160px 10px 10px 10px;
        max-width: 1200px;
        font-family: var(--font-family-secondary);

        @media (max-width: 1040px) {
            flex-direction: column;
        }

        &_left {
            display: flex;
            flex-grow: 2;

            @media (max-width: 1040px) {
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        &_right {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;

            @media (max-width: 1040px) {
                justify-content: flex-start;
            }
        }
    }

    &__disclaimer {
        font-family: SB Sans Display;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
    }

    &__documents-link {
        font-family: SB Sans Display;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;

        @media (max-width: 1040px) {
        }
    }

    &__email-link {
        margin-left: 10px;
        font-size: 12px;
        line-height: 108.1%;

        @media (max-width: 1040px) {
            margin-top: 15px;
            margin-left: unset;
        }
    }
}
