.flip {

    &__page {
        background: black;

        .loader__wrapper {
            min-height: 100vh;
            min-width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__footer {
        order: 3;
    }

    &__wrapper {
        background: #030406;

        &:not(.flip__wrapper_mobile) {
            .scroll-bound {
                height: 400vh;

                .content {
                    height: 100vh;
                    width: 100%;
                    position: sticky;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
