.main__page {
    width: 100vw;
    height: 100vh;
    background: black;

    .loader__wrapper {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        stroke: #BDFFF8;
    }
}
.main-page-blocks {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main__page_3 {
    .nav__accept-button {
        visibility: hidden;
    }
}
