.public-beta-signup {

    &__section-wrapper {
        display: grid;
        grid-gap: 0 20px;
    }

    &__features-list,
    &__rules-list {
        display: grid;
        grid-gap: 20px;
        list-style: none;
    }

    &__rule {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__rule-image {
        width: 116px;
        height: 116px;
    }

    &__rule-caption {
        text-align: center;
    }
}

@mixin media_breakpoint_normal_desktop {

    .public-beta-signup {

        &__section-wrapper {
            padding: 80px 20px;
            grid-template-columns: repeat(12, 1fr);
        }

        &__features-title,
        &__rules-title {
            grid-column: 1 / span 6;
        }

        &__features-subtitle {
            margin-top: 0;
            grid-column: 7 / span 6;
        }

        &__features-list,
        &__rules-list {
            grid-column: 1 / span 12;
            grid-template-columns: repeat(12, 1fr);
        }

        &__features-list {
            margin-top: 36px !important;

            &-item {
                min-height: 260px;
            }

            &-item:first-of-type {
                grid-column: 1 / span 4;
            }

            &-item:nth-of-type(2) {
                grid-column: 5 / span 4;
            }

            &-item:last-of-type {
                grid-column: 9 / span 4;
            }
        }

        &__rules-list {
            margin-top: 60px !important;

            &-item {
                grid-column-end: span 2;
            }
        }

        &__rule-image {
            width: 174px;
            height: 174px;
        }

        &__rule-caption {
            margin-top: 16px;
        }

        &__video-title {
            grid-column: 1 / span 8;
        }

        &__video-player {
            margin-top: -44px;
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .public-beta-signup {

        &__section-wrapper {
            padding: 60px 20px;
            grid-template-columns: repeat(12, 1fr);
        }

        &__features-title,
        &__rules-title {
            grid-column: 1 / span 6;
        }

        &__features-subtitle {
            margin-top: 4px;
            grid-column: 7 / span 6;
        }

        &__features-list,
        &__rules-list {
            margin-top: 40px !important;
            grid-column: 1 / span 12;
            grid-template-columns: repeat(12, 1fr);
        }

        &__features-list {

            &-item {
                min-height: 200px;
            }

            &-item:first-of-type {
                grid-column: 1 / span 4;
            }

            &-item:nth-of-type(2) {
                grid-column: 5 / span 4;
            }

            &-item:last-of-type {
                grid-column: 9 / span 4;
            }
        }

        &__rules-list {

            &-item {
                grid-column-end: span 2;
            }
        }

        &__rule-caption {
            margin-top: 20px;
        }

        &__video-title {
            grid-column: 1 / span 8;
        }

        &__video-player {
            margin-top: -20px;
        }
    }
}

@mixin media_breakpoint_tablet {

    .public-beta-signup {

        &__section-wrapper {
            padding: 40px 20px;
            grid-template-columns: repeat(6, 1fr);
        }

        &__features-title,
        &__features-subtitle,
        &__features-list,
        &__rules-title,
        &__rules-list {
            grid-column: 1 / span 6;
        }

        &__features-subtitle {
            margin-top: 20px;
        }

        &__features-list {
            margin-top: 40px !important;
            grid-template-columns: repeat(6, 1fr);

            &-item {
                min-height: 200px;
            }

            &-item:first-of-type {
                grid-column: 1 / span 3;
            }

            &-item:nth-of-type(2) {
                grid-column: 4 / span 3;
            }

            &-item:last-of-type {
                grid-column: 1 / span 6;
            }
        }

        &__rules-list {
            display: grid;
            grid-gap: 0 20px;
        }

        &__rules-list-item {
            margin-top: 40px;
        }


        &__rules-list-item:nth-of-type(3n - 2) {
            grid-column: 1 / span 2;
        }

        &__rules-list-item:nth-of-type(3n - 1) {
            grid-column: 3 / span 2;
        }

        &__rules-list-item:nth-of-type(3n) {
            grid-column: 5 / span 2;
        }

        &__rule-caption {
            margin-top: 8px;
        }

        &__video-title {
            grid-column: 1 / span 6;
        }

        &__video-player {
            margin-top: -10px;
        }
    }
}

@mixin media_breakpoint_mobile {

    .public-beta-signup {

        &__section-wrapper {
            padding: 30px 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        &__features-title,
        &__features-subtitle,
        &__features-list,
        &__features-list-item,
        &__rules-title,
        &__rules-list {
            grid-column: 1 / span 2;
        }

        &__features-subtitle {
            margin-top: 20px;
        }

        &__features-list {
            margin-top: 28px !important;
            grid-template-columns: repeat(2, 1fr);
        }

        &__rules-list {
            display: grid;
            grid-gap: 0 20px;
        }

        &__rules-list-item {
            margin-top: 30px;
        }

        &__rules-list-item:nth-of-type(odd) {
            grid-column: 1 / span 1;
        }

        &__rules-list-item:nth-of-type(even) {
            grid-column: 2 / span 1;
        }

        &__rule-caption {
            margin-top: 8px;
        }

        &__video-title {
            grid-column: 1 / span 2;
        }
    }
}
