:root {
    --vacancy-padding-top: 32px;
}

.vacancy {
    margin-top: calc(var(--nav-height));
    padding-top: 32px;
    width: 100vw;

    @media screen and (max-width: 1050px) {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 30vw [content]1fr;

        @media screen and (max-width: 1050px) {
            display: flex;
            justify-content: center;
            padding: 0 10px;
        }
    }

    &__left-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
        height: calc(100vh - var(--vacancy-padding-top) - var(--nav-height));
        padding-left: 25px;
        position: sticky;
        top: calc(var(--nav-height) + var(--vacancy-padding-top));

        & h1 {
            width: 217px;
            display: inline-block;
            text-align: start;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: -0.04em;
            line-height: 30px;
        }

        @media screen and (max-width: 1050px) {
            display: none;
        }
    }

    &__left-block-header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    &__left-block-arrow-left {
        display: inline-block;
        cursor: pointer;
    }

    &__left-block-main {
        display: grid;
        grid-template-columns: 1fr [content]2fr 1fr;
        justify-items: start;

        &_mobile {
            display: none;

            @media screen and (max-width: 1050px) {
                display: block;
                margin-top: 20px;
            }
        }
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        width: 217px;
        grid-column: content;

        & li {
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;

            &:nth-child(2) {
                margin-bottom: 18px;
            }
        }
    }

    &__respond-button {
        margin-top: 20px;
        border-radius: 64px;
        height: 56px;
    }

    &__left-block-bottom {
        display: grid;
        grid-template-columns: 1fr [content]2fr 1fr;
        justify-items: start;
    }

    &__link-wrapper {
        grid-column: content;
        display: flex;
        flex-wrap: nowrap;

        & a svg:hover {

            & path {
                fill: #758794;
            }
        }
    }

    &__right-block {
        max-width: 690px;
        grid-column: content;
    }

    &__date-and-direction {

        & span {
            color: #34b7aa;
            letter-spacing: -0.01em;
            line-height: 18px;

            &:first-child {
                margin-right: 16px;
            }
        }

        @media screen and (max-width: 1050px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        margin-top: 8px;

        & h1 {
            font-size: 47px;
            font-weight: 400;
            line-height: 48px;
        }

        @media screen and (max-width: 1050px) {
            margin-top: 12px;

            & h1 {
                font-size: 26px;
                line-height: 30px;
                letter-spacing: -0.04em;
            }
        }
    }

    &__area {
        margin-top: 20px;

        & p {
            letter-spacing: -0.01em;
        }

        @media screen and (max-width: 1050px) {
            margin-top: 12px;
        }
    }

    &__tags-wrapper {
        margin-top: 16px;

        @media screen and (max-width: 1050px) {
            margin-top: 12px;
        }
    }

    &__tag {
        padding: 4px 8px;
        margin-right: 8px;
        color: #758794;
        border: 1px solid #c0ccd5;
        letter-spacing: -0.01em;
        box-sizing: border-box;
        border-radius: 32px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__about-wrapper {
        margin-top: 24px;

        & p {
            font-size: 18px;
            line-height: 24px;
            font-family: var(--font-family-secondary);
        }

        @media screen and (max-width: 1050px) {
            margin-top: 20px;

            & p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__text-wrapper {
        margin-top: 40px;

        & ul {
            margin-bottom: 0;
        }

        & li {
            margin-bottom: 12px;
            font-size: 18px;
            line-height: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        & li::marker {
            content: url("../images/list-marker.svg");
        }

        & h1 {
            margin-bottom: 20px;
            font-weight: 400;
        }

        & p {
            font-size: 18px;
            line-height: 24px;
            font-family: var(--font-family-secondary);
        }

        @media screen and (max-width: 1050px) {
            margin-top: 32px;

            & h1 {
                margin-bottom: 16px;
                font-size: 26px;
                line-height: 30px;
                letter-spacing: -0.04em;
            }

            & p {
                font-size: 16px;
                line-height: 20px;
            }

            & li {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__video-wrapper {
        position: relative;
        margin-top: 40px;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &_hidden {
            display: none;
        }
    }

    &__video {
        width: 100vw;
    }

    &__bottom-block {
        margin: 40px 0;
        display: grid;
        grid-template-columns: 30vw 1fr;

        @media screen and (max-width: 1050px) {
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            max-width: 690px;
        }
    }

    &__left-side {
        margin-left: 20px;

        & p {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;
            max-width: 290px;
            margin-top: 12px;
        }

        @media screen and (max-width: 1050px) {
            margin-left: 0;
        }
    }

    &__right-side {
        margin-left: 40px;

        @media screen and (max-width: 1050px) {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    &__slogan {
        max-width: 690px;

        & p {
            font-size: 18px;
            line-height: 24px;
            font-family: var(--font-family-secondary);
        }
    }

    &__big-slogan {
        margin-top: 40px;
        max-width: 927px;

        @media screen and (max-width: 1050px) {
            margin-top: 20px;
        }
    }

    &__external-part {
        display: inline-block;
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;

        & span {
            color: #34b7aa;
            display: inline;
        }

        @media screen and (max-width: 1050px) {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.04em;
        }
    }
}
