.story {

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 216px;
        margin-left: auto;
    }

    &__image {
        width: 216px;
        height: 216px;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        line-height: 20px;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #fff;

        span {
            color: #66DED2;
        }
    }
}
