.vacancy-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - var(--vacancy-margin-top) - 40px);
    position: sticky;
    min-width: 280px;
    width: 25%;
    max-width: 380px;
    margin-right: 25px;
    top: 120px;

    & h1 {
        width: 217px;
        display: inline-block;
        text-align: start;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 30px;
    }

    @media screen and (max-width: 880px) {
        display: none;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    &__icon-arrow-left {
        display: inline-block;
        cursor: pointer;
        margin-right: 85px;

        @media screen and (max-width: 1250px) {
            margin-right: 45px;
        }

        &:hover {

            & path {
                fill: #34b7aa;
            }
        }
    }

    &__main {
        margin-top: 60px;
        margin-left: 115px;
        display: flex;
        flex-direction: column;
        justify-items: start;
        width: 217px;

        @media screen and (max-width: 1250px) {
            margin-left: 75px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-column: content;

        & li {
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;

            &:nth-child(2) {
                margin-bottom: 18px;
            }
        }
    }

    &__button-respond {
        margin-top: 20px;
    }

    &__bottom {
        display: flex;
        justify-items: center;
    }

    &__links-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 217px;
        margin-left: 115px;

        @media screen and (max-width: 1250px) {
            margin-left: 75px;
        }

        & a {
            cursor: pointer;
        }

        & a svg:hover {

            & path {
                fill: #758794;
            }
        }
    }

}
