.button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 64px;
    border: none;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1f272e;
    background-color: #bdfff8;
    position: relative;

    @media (hover: hover) and (pointer: fine) {

        &:hover:not([disabled]) {
            background-color: #66ded2;
        }
    }

    &_secondary {
        background-color: #fff;

        @media (hover: hover) and (pointer: fine) {

            &:hover:not([disabled]) {
                background-color: #66ded2;
                color: #ffff;
            }
        }
    }

    &_disabled {
        opacity: 0.5;

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__count {
        position: absolute;
        right: 20px;
        padding: 5px 10px;
        background: #bdfff8;
        border-radius: 50px;
        font-size: 14px;
        line-height: 18px;
    }
}
