.button {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1F272E;
    background-color: #94F7ED;
    position: relative;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #67CFC9;
            color: #FFFF;
        }
    }

    &_secondary {
        background-color: #FFF;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: #67CFC9;
                color: #FFFF;
            }
        }
    }

    &__count {
        position: absolute;
        right: 20px;
        padding: 5px 10px;
        background: #BDFFF8;
        border-radius: 50px;
        font-size: 14px;
        line-height: 18px;
    }
}
