.input {
    position: relative;

    & input {
        width: 100%;
        height: 80px;
        border-radius: 12px;
        box-sizing: border-box;
        border: 1px solid #758794;
        background-color: transparent;
        outline: none;
        padding: 38px 16px 14px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #000000;
        position: relative;

        @media (hover: hover) and (pointer: fine) {

            @media screen and (prefers-reduced-motion: reduce) {

                &:hover {
                    border: 1px solid #ffffff;
                    transition: none;
                }
            }

            &:hover {
                border: 1px solid #ffffff;
                transition: 0.3s;
            }
        }

        &:focus {
            background-color: #ffffff;
            border: 1px solid #ffffff;

            & ~ .input__label {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &:not(:placeholder-shown) {
            background-color: #ffffff;
            border: 1px solid #ffffff;

            & ~ .input__label {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    @media screen and (prefers-reduced-motion: reduce) {

        &__label {
            position: absolute;
            pointer-events: none;
            left: 16px;
            top: 16px;
            white-space: nowrap;
            overflow: hidden;
            line-height: 28px;
            font-size: 20px;
            transition: none;

            &_tel {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__label {
        position: absolute;
        pointer-events: none;
        left: 16px;
        top: 16px;
        white-space: nowrap;
        overflow: hidden;
        line-height: 28px;
        font-size: 20px;
        transition: 0.3s;

        &_tel {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__error-label {
        position: absolute;
        bottom: -15px;
        left: 10px;
        font-size: 11px;
        line-height: 10px;
        color: red;
    }

    &_error input {
        border: 1px solid #ff364d;
        box-shadow: 0 0 0 1px #ff364d;

        &:focus {
            border: 1px solid #ff364d;
            box-shadow: 0 0 0 1px #ff364d;
        }

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                border: 1px solid #ff364d;
                box-shadow: 0 0 0 1px #ff364d;
            }
        }

        &:not(:placeholder-shown) {
            border: 1px solid #ff364d;
            box-shadow: 0 0 0 1px #ff364d;
        }
    }
}

.input-file {
    width: 100%;
    position: relative;

    & input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 64px;
        height: 56px;
        font-size: 22px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #43515c;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 16px 16px 14px;

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                color: #1f272e;
            }
        }

        &_error {
            border: 2px solid red;
        }
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30px;
        color: #05080a;
    }

    &__ext {
        color: #05080a;
        height: 30px;
    }
}
