.video-card {

    &__wrapper {
        border-top: 1px solid var(--color-black);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title,
    &__description,
    &__video {
        margin-top: 12px;
    }

    &__title {
        width: 100%;
    }

    &__description,
    &__video {
        width: calc(50% - 10px);
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__video {
        position: relative; 
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;

        &_maximal {
            width: 100%;
            height: auto;
        }
    }
}

@mixin media_breakpoint_normal_desktop {

    .video-card {

        &__title,
        &__description,
        &__video {
            margin-top: 20px;

        }

        &__video {
            &_maximal {
                margin-top: 20px;
            }
        }
    }
}

@mixin media_breakpoint_small_desktop {

    .video-card {

        &__video {
            &_maximal {
                margin-top: 20px;
            }
        }
    }
}

@mixin media_breakpoint_tablet {

    .video-card {

        &__video {
            height: 182px;

            &_maximal {
                height: auto;
            }
        }
    }
}

@mixin media_breakpoint_mobile {

    .video-card {

        &__title,
        &__description,
        &__video {
            width: 100%;
        }

        &__video {
            height: 182px;

            &_maximal {
                position: fixed;
                top:0;
                left:0;
                z-index: var(--z-index-video-fullscreen);
                margin-top:0;
                height: 100vh;
                width: 100vw;
                border-radius:0;
            }
        }
    }
}
