.card {
    --color-gray: #f3f8f9;
    padding: 20px;
    border-radius: 24px;
    background-color: var(--color-gray);
}

@mixin media_breakpoint_normal_desktop {

    .card {
        padding: 40px;
        border-radius: 32px;
    }
}
