.textarea {
    position: relative;
    padding: 38px 16px 16px;
    border: 1px solid #758794;
    border-radius: 15px;
    height: 120px;

    &__field {
        overflow: scroll;
        width: 100%;
        background-color: transparent;
        outline: none;
        box-sizing: border-box;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: -0.01em;
        position: relative;
        border: none;
        resize: none;

        &_focused {
            background-color: #ffffff;
            border-color: #ffffff;
        }

        &:focus {

            & + .textarea__label {
                line-height: 20px;
                font-size: 14px;
            }
        }

        &:not(:placeholder-shown) {
            border-color: #ffffff;

            & + .textarea__label {
                line-height: 20px;
                font-size: 14px;
            }
        }
    }

    @media (hover: hover) and (pointer: fine) {

        @media screen and (prefers-reduced-motion: reduce) {

            &:hover {
                border-color: #ffffff;
                transition: none;
            }
        }

        &:hover {
            border-color: #ffffff;
            transition: 0.3s;
        }
    }

    @media screen and (prefers-reduced-motion: reduce) {

        &__label {
            font-size: 20px;
            line-height: 28px;
            position: absolute;
            left: 16px;
            top: 16px;
            right: 0;
            color: #1f272e;
            transition: none;
        }
    }

    &__label {
        font-size: 20px;
        line-height: 28px;
        position: absolute;
        left: 16px;
        top: 16px;
        right: 0;
        color: #1f272e;
        transition: 0.3s;
        opacity: 1;
    }

    &_error {
        border: 1px solid #ff364d;
        box-shadow: 0 0 0 1px #ff364d;

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                border: 1px solid #ff364d;
                box-shadow: 0 0 0 1px #ff364d;
            }
        }

        &:focus {
            /* background-color: #ffffff; */
            border: 1px solid #ff364d;
            box-shadow: 0 0 0 1px #ff364d;
        }
    }
}
