.textarea {
    position: relative;
    height: 120px;

    &__field {
        padding-top: 38px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #758794;
        border-radius: 15px;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: -0.01em;
        background-color: transparent;
        outline: none;
        overflow: scroll;
        resize: none;
        transition: border-color 300ms, background-color 300ms;
    }

    &__field:focus {
        background-color: var(--color-white);
        border-color: var(--color-white);
    }

    &__field:focus ~ &__label {
        line-height: 20px;
        font-size: 14px;
    }

    &__field:not(:placeholder-shown) {
        border-color: var(--color-white);
    }

    &__field:not(:placeholder-shown) ~ &__label {
        line-height: 20px;
        font-size: 14px;
    }

    &__label {
        position: absolute;
        left: 16px;
        right: 0;
        top: 16px;
        font-size: 20px;
        line-height: 28px;
        color: #1f272e;
        transition:  line-height 300ms, font-size 300ms;
        opacity: 1;
    }

    &_has-value &__field {
        background-color: var(--color-white);
        border-color: var(--color-white);
    }

    &_error &__field {
        border: 1px solid var(--color-error);
        box-shadow: 0 0 0 1px var(--color-error);

        &:focus {
            border: 1px solid var(--color-error);
            box-shadow: 0 0 0 1px var(--color-error);
        }
    }

    @media (hover: hover) and (pointer: fine) {

        &:hover &__field {
            border-color: var(--color-white);
        }

        &_error:hover &__field {
            border: 1px solid var(--color-error);
            box-shadow: 0 0 0 1px var(--color-error);
        }
    }

    @media screen and (prefers-reduced-motion: reduce) {

        &:hover &__field {
            transition: none;
        }

        &__label {
            transition: none;
        }
    }
}
