.flip {

    &__text-wrapper {
        position: absolute;
        z-index: 100000;
        color: #FFFFFF;
        font-family: SB Sans Text;
        padding: 20px 50px 50px 50px;
        bottom: 0px;
        top: unset;
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;

        -moz-transition: transform 1s; 
        -webkit-transition: transform 1s;  
        -ms-transition: transform 1s;  
        -o-transition: transform 1s;  
        transition: transform 1s;  

        @media (max-width: 850px) {
            padding: 10px;
        }

        .flip__screen-text_primary {
            -moz-transition: opacity 0.5s ease-in-out; 
            -webkit-transition: opacity 0.5s ease-in-out;  
            -ms-transition: opacity 0.5s ease-in-out;  
            -o-transition: opacity 0.5s ease-in-out;  
            transition: opacity 0.5s ease-in-out; 
        }

        &_secondary {
            opacity: 0;

            -moz-transition: opacity 0.5s ease-in-out; 
            -webkit-transition: opacity 0.5s ease-in-out;  
            -ms-transition: opacity 0.5s ease-in-out;  
            -o-transition: opacity 0.5s ease-in-out;  
            transition: opacity 0.5s ease-in-out; 
        }
    }

    &__screen-header {
        font-size: 47px;
        line-height: 48px;
        letter-spacing: -0.01em;
        max-width: 1000px;

        span {
            color: #BDFFF8;
        }

        @media (max-width: 1100px) {
            font-size: 40px;
            line-height: 42px;
            max-width: 700px;
        }

        @media (max-width: 1024px) {
            font-size: 30px;
            line-height: 32px;
            max-width: 700px;
        }

        @media (max-width: 860px) {
            font-size: 26px;
            line-height: 28px;
            max-width: 500px;
        }

        @media (max-width: 805px) {
            font-size: 22px;
            line-height: 24px;
            max-width: 400px;
        }
    }

    &__screen-text {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.01em;
        opacity: 0.9;
        max-width: 340px;

        &_left {
            left: 20px;
        }

        &_right {
            right: 20px;
        }

        span {
            color: #BDFFF8;
        }

        b {
            font-size: 47px;
            line-height: 48px;
            letter-spacing: -0.01em;
            margin-bottom: 10px;
            font-weight: 300;
        }

        img {
            @media (max-width: 850px) {
                max-width: 180px;
            }
        }
    }

    &__logo {
        position: fixed;
        right: 55px;
        top: 86px;
        

        @media (max-width: 850px) {
            right: 10px;
            max-width: 180px;
        }
    }

    &__screen-background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper_mobile {
        display: flex;
        flex-direction: column;

        .flip__screen-wrapper {
            text-align: center;
            order: 2;

                
            .content {
                display: flex;
                flex-direction: column;
            }
        }

        .flip__logo {
            position: relative;
            right: unset;
            width: 100%;
            padding: 0px 10px;
            max-width: 400px;
            margin-bottom: 80px;
            order: 1;
        }

        .flip__screen-background {
            order: 2;
        }

        .flip__text-wrapper {
            position: unset;
            text-align: left;
            display: flex;
            flex-direction: column;
    
            b {
                font-size: 27px;
                line-height: 30px;
                font-weight: 300;
            }
        }

        .flip__text-wrapper_primary {
            order: 1;
            margin-top: 70px;
            margin-bottom: 0px;
        }

        .flip__text-wrapper_secondary {
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            opacity: 1;
            order: 3;
    
            .flip__screen-header_secondary {
                margin-bottom: 20px;
            }
    
            .flip__screen-text_primary {
                margin-bottom: 20px;
            }
    
            .flip__screen-logo {
                margin-top: 10px;
                width: 200px;
            }

        }
        .footer__wrapper {
            margin-top: 40px;
            background: black;
            color: white;
            order: 3;
    
            .footer__link {
                color: black;
            }
        }
    }
}

#bound-1 {
    margin-top: 10px;

    .flip__screen-background {
        order: 1;
    }

    .flip__text-wrapper_primary {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

#bound-6 {
    .flip__text-wrapper_secondary {
        flex-direction: column;

        .flip__screen-text {
            margin-bottom: 20px;
        }
    }
}
