
.heading-banner {
    --content-vertical-padding: 40px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 910px;
    padding: 40px var(--content-vertical-padding);
    overflow: hidden;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: var(--content-vertical-padding);
        }
    }

    &__title {
        grid-column: 1 / span 4;
    }

    &__description {
        grid-column: 1 / span 8;
        align-self: flex-end;
    }
}

@mixin media_breakpoint_small_desktop {

    .heading-banner {
        padding: 30px;
        height: 680px;

        &__image {
            border-radius: 30px;
        }
    }
}

@mixin media_breakpoint_below_desktop {

    .heading-banner {
        --banner-height: 744px;
        --content-vertical-padding: var(--page-section-vertical-padding);
        grid-template-rows: var(--banner-height) auto;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: visible;

        &__image {
            position: absolute;
            top: 0;
            left: calc(-1 * var(--page-section-vertical-padding));
            width: calc(100% + calc(2 * var(--page-section-vertical-padding)));
            height: var(--banner-height);
        }

        &__title {
            grid-column: 1 / span 5;
            align-self: flex-end;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__description {
            grid-column: 1 / all;
            align-self: flex-end;
            padding-top: 20px;
            padding-bottom: 0;
        }
    }
}
